/* Global CSS */
body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Helper Classes */
.left {
    float: left;
}
.right {
    float: right;
}
.clear:after {
    content: "";
    clear: both;
    display: block;
}

.row {
    display: flex;
}

.w-100 {
    width: 100%;
}


/* #container {

} */

/* .container {

} */

/* Generic CSS */
#header {

}

#main-navigation {

}

#banner {

}

#footer {

}


/* Specific CSS */
#all_songs {
    margin: 0px;
    padding: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:#DC3545;
}
#all_songs li {
    width: 22%;
    margin-bottom: 30px;
    text-align: center;
    background-color: #e0e0e0;
    padding: 10px;
    color: red;
}
#all_songs h5 {
    font-size: 14px;
    margin-top: 10px;
}
#all_songs img {
    width: 100%;
    height: 200px;
}

#musicPlayer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgba(255,0,0,0.5);
    padding: 10px;
    text-align: center;
}
#musicPlayer audio{
    width: 100%;
    display: none;
}
#musicPlayer input[type="range"]{
    display: block;
    width: 100%;
    cursor: pointer;
}

#playlist li {
    display: flex;
    background-color:#DC3545;
    box-shadow: 5px 10px #888888; 
    margin-bottom: 10px;
    padding: 10px;
    /* padding-bottom: 10px; */
    border-bottom: 1px solid red;
}
#playlist li h5 {
    width: 65%;
}

#playlist li img {
    width: 20%;
    height: 50px;
    margin-right:4%
}
#current_time{
    left: 26%;
    position: absolute;
}
#total_time{
    right: 4%;
    bottom: 24%;
    position: absolute;
}